.card1 {
    height: 450px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    position: relative;
    overflow: hidden;
}


.card1:before {
    position: absolute;
    content: '';
    height: 600px;
    width: 600px;
    background: linear-gradient(180deg, rgb(169, 159, 159) 30%, rgb(212, 211, 227) 70%);
    transform: rotate(90deg);
    animation: 3s linear 0s infinite rotate2;
    backdrop-filter: 10px;
}

.card1:after {
    width: 280px;
    height: 430px;
    position: absolute;
    content: '';
    background: #efefef;
}

.card1-inner {
    width: 280px;
    height: 430px;
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
}


@keyframes rotate2 {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(180deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.card2 {
    height: 450px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    position: relative;
    overflow: hidden;
}

.card2:before {
    position: absolute;
    content: '';
    height: 600px;
    width: 600px;
    background: linear-gradient(180deg, rgb(169, 159, 159) 30%, rgb(212, 211, 227) 70%);
    transform: rotate(90deg);
    animation: 3s linear 0s infinite rotate2;
    backdrop-filter: 10px;
}

.card2:after {
    width: 280px;
    height: 430px;
    position: absolute;
    content: '';
    background: #efefef;
}

.card2-inner {
    width: 280px;
    height: 430px;
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
}

#aboutCards {
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}

.card3 {
    height: 450px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    position: relative;
    overflow: hidden;
}

.card3:before {
    position: absolute;
    content: '';
    height: 600px;
    width: 600px;
    background: linear-gradient(180deg, rgb(169, 159, 159) 30%, rgb(212, 211, 227) 70%);
    transform: rotate(90deg);
    animation: 3s linear 0s infinite rotate2;
    backdrop-filter: 10px;
}

.card3:after {
    width: 280px;
    height: 430px;
    position: absolute;
    content: '';
    background: #efefef;
}

.card3-inner {
    width: 280px;
    height: 430px;
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
}

.card4 {
    height: 450px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    position: relative;
    overflow: hidden;
}

.card4:before {
    position: absolute;
    content: '';
    height: 600px;
    width: 600px;
    background: linear-gradient(180deg, rgb(169, 159, 159) 30%, rgb(212, 211, 227) 70%);
    transform: rotate(90deg);
    animation: 3s linear 0s infinite rotate2;
    backdrop-filter: 10px;
}

.card4:after {
    width: 280px;
    height: 430px;
    position: absolute;
    content: '';
    background: #efefef;
}

.card4-inner {
    width: 280px;
    height: 430px;
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
}

#nameheader {
    font-style: italic;
    align-items: center;
    text-align: center;
    font-size: 25;
}