#entireNavBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#itemHolder{
  display: flex;
  flex-direction: row;
  width: 40rem;
  font-weight: bold;
  font-size: larger;
}

#personal{
  margin-right: 30px;
}

#title{
  width:75rem;
}
